# Python dependencies that must be installed to install other dependencies

Cython==3.0.6
numpy==1.26.2
versioneer[toml]==0.28

shapely==2.0.2

# following are needed for building rasterio in this env
flit_core==3.7.1
packaging==21.3
setuptools==65.5.1
wheel==0.38.1
attrs==23.1.0

# needed for attrs
hatch==1.7.0
hatchling==1.14.1