# Python dependencies that must be installed to install other dependencies

Cython==0.29.30
numpy==1.24.1

shapely==2.0.0

# following are needed for building rasterio in this env
flit_core==3.7.1
packaging==21.3
setuptools==58.1.0
wheel==0.37.1