# last updated 7/31/2024

### Shared dependencies
affine==2.4.0
aiofiles==24.1.0
arq==0.26.0
fastapi==0.111.1
# geopandas==1.0.1  # installed separately, without dependencies
gunicorn==22.0.0
h11==0.14 # required to meet other dependency requirements
pandas==2.2.2
progress==1.6
pyarrow==17.0.0
python-dotenv==1.0.1
python-multipart==0.0.9
sentry-sdk==2.12.0
uvicorn[standard]==0.30.3
numba==0.59.1


### Dependencies for geopandas, since we install it without them
pyproj==3.6.1

### Dependencies for Southeast Blueprint Explorer
jinja2==3.1.4
Pillow==10.4.0
# pymgl: installed manually due to lack of manylinux wheels
WeasyPrint==62.3

### Dependencies for Southeast Species Status Landscape Assessment Tool
openpyxl==3.1.5