ifwaz-sebp-test.fws.doi.net {
  log {
    level ERROR
  }

  tls /certificates/internal-tls.pem /certificates/internal-tls.key

  # redirect site root to Blueprint Explorer
  redir / /test-southeastblueprint/

  # everything must be in a route to get proper matching order
  route {
    # common headers
    header Strict-Transport-Security "max-age=63072000; preload"
    header X-Frame-Options "DENY"
    header Content-Security-Policy "default-src 'self' *.googletagmanager.com *.mapbox.com *.sentry.io; connect-src *; img-src 'unsafe-inline' * data: blob:; media-src 'unsafe-inline' *; worker-src * blob:; style-src 'unsafe-inline' *; script-src 'unsafe-inline' *; child-src 'self' blob:;"
    header X-Content-Type-Options nosniff
    header Referrer-Policy "strict-origin-when-cross-origin"

    # Set CORS
    header Access-Control-Allow-Origin "https://apps.fws.gov"
    header Access-Control-Request-Method *
    header Access-Control-Request-Headers *

    route /test-southeastblueprint/services* {
      uri strip_prefix /test-southeastblueprint
      header Cache-Control "public, max-age=3600, must-revalidate"
      reverse_proxy mbtileserver:8000
    }

    encode zstd gzip

    route /test-southeastblueprint/api/* {
      uri strip_prefix /test-southeastblueprint
      reverse_proxy se-api:5000
    }

    route /test-southeastssa/api/* {
      uri strip_prefix /test-southeastssa
      reverse_proxy ssa-api:5000
    }

    # most files can be cached indefinitely, they are rebuilt with new names each time
    @cached_files {
      path *.jpg *.jpeg *.png *.gif *.ico *.webp *.svg *.css *.js *.woff *.woff2 */static/*
      not path /favicon*
    }
    header @cached_files Cache-Control "public, max-age=31536000, immutable"

    # make sure favicons are not cached too long
    @short_cached_files {
      path /favicon*
    }
    header @short_cached_files Cache-Control "public, max-age=3600"

    # page-data must be fetched each time
    @no_cache {
      path *.html *.webmanifest */page-data/* /test-southeastblueprint/ /test-southeastssa/ */custom_report/ */report/ */datasets/ */help/
    }
    header @no_cache Cache-Control "public, max-age:0, must-revalidate"

    root * /var/www
    file_server /test-southeastblueprint*
    file_server /test-southeastssa*

    # redirect favicon.ico to Blueprint Explorer
    handle {
      redir /favicon.ico /test-southeastblueprint/favicon.ico
    }

    # redirect robots.txt to Blueprint Explorer
    handle {
      redir /robots.txt /test-southeastblueprint/robots.txt
    }

    # redirect everything else to a 404 page
    handle {
      redir * /test-southeastblueprint/404.html
    }
  }

  # send any errors to Blueprint Explorer 404 page
  # note this is redir instead of rewrite, because gatsby doesn't properly handle
  # URLs rewritten to its error page
  handle_errors {
      @404 {
          expression {http.error.status_code} == 404
      }
      redir * /test-southeastblueprint/404.html
  }
}
